doctype html
html
  head
  body
    .content
      p
        | When you need your Javascript to know the current Media Query and respond to changes.
      p#media-query-size

      #device
      
      sub
        | Resize the browser window to trigger breakpoint events.
        | An alternate hybrid (css/js) technique 
        a(href='https://css-tricks.com/media-query-change-detection-in-javascript-through-css-animations/', target='_blank')
          | CSS animation end callbacks.
    
